@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Saira Condensed';
    src: url(/ntim.dev-theme/assets/fonts/SairaCondensed-Regular.ttf);
}

@font-face {
    font-family: 'Sarabun';
    src: url(/ntim.dev-theme/assets/fonts/Sarabun-Regular.ttf);
}
